body{
    background-color: antiquewhite;
}

#davidMullins{
    text-align: center;
    font-family: 'times new roman', monospace;
    font-size: 175%;
}

.fullPage{
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
}

.card{
    width: 30%;
}
