body{
    background-color: antiquewhite;
}

#davidMullins{
    text-align: center;
    font-family: 'times new roman', monospace;
    font-size: 175%;
}

.fullPage{
  padding: 10;
  margin: 10;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 100%;
}


img{
    padding: 10px;
}

.card{
    max-width: 33%;
}