@import "~bootstrap/scss/bootstrap";

#davidMullins{
  text-align: center;
  font-size: 300%;
}

body{
  background-color: antiquewhite;
}

#imgMe{
  float: left;
  margin-bottom: 250%;
  margin-right: 50px;
}

.container{
  flex-direction: column;
}

.card{
  background-color: antiquewhite;
  border: none;
  margin: 30px;
  max-width: 60%;
}

.page-footer{
  text-align: center;
}