@import "~bootstrap/scss/bootstrap";

#davidMullins{
  text-align: center;
  font-size: 300%;
}

body{
    background-color: antiquewhite;
}

#imgMe{
  float: left;
  margin-right: 10px;
}

.card{
  margin-left: 10px;
    max-width: 33%;
}